@{
    Layout = "~/Views/Shared/_Layout.RepertoireClient.cshtml";
    ViewBag.Title = Model.Nom;
}

<style>
    .transparent {
        background-color: transparent;
        border-style: none;
        width: 100%;
    }

    table {
        width: 100%;
    }
</style>

<script>
    function validation() {
        let entrp = htmlToModel();

        if (entrp.Nom == "" ||
            entrp.Telephone == "") {
            alert("Certaines informations doivent être renseignées");
            return;
        }

        let entrpID = new URL(location.href).searchParams.get("EntrepriseID");
        entrp.ID = entrpID;

        modifyEntreprise(entrp, function () {
            window.location.href = 'Entreprise?EntrepriseID=' + entrpID ;
        });
    }
</script>

<div class="jumbotron row">
    <div class="col-md-6">
        <h1><input type="text" id="entreprise_name" class="transparent" value="@Model.Nom" placeholder="Entreprise" required/></h1>
        <p>Tél : <input type="text" id="telephone" class="transparent" value="@Model.Telephone" placeholder="Téléphone" required/></p>
        <p>Fax : <input type="text" id="fax" class="transparent" value="@Model.Fax" placeholder="Fax" /></p>
        <p><input type="text" id="cde_ordre" class="transparent" value="@Model.Code_Ordre" placeholder="Code d'ordre" /></p>
        <p><input type="text" id="web_site" class="btn btn-primary btn-lg" value="@Model.Site" placeholder="Site Web &raquo;" /></p>
    </div>
    <div class="col-md-6">
        <h2>Horaires</h2>
        <p>
            Du
            <select id="jour_ouverture">
                @switch (Model.JourOuverture)
                {
                    case "Mardi":
                        <option>Lundi</option>
                        <option selected="selected">Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Mercredi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option selected="selected">Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Jeudi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option selected="selected">Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Vendredi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option selected="selected">Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Samedi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option selected="selected">Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Dimanche":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option selected="selected">Dimanche</option>
                        break;
                    default:
                        <option selected="selected">Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                }

            </select> au
            <select id="jour_fermeture">
                @switch (Model.JourFermeture)
                {
                    case "Mardi":
                        <option>Lundi</option>
                        <option selected="selected">Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Mercredi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option selected="selected">Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Jeudi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option selected="selected">Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Vendredi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option selected="selected">Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Samedi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option selected="selected">Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Dimanche":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option selected="selected">Dimanche</option>
                        break;
                    default:
                        <option selected="selected">Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                }

            </select><br/>
            De <input type="time" id="oAM" value="@Model.OuvertureAM"> à <input type="time" id="fAM" value="@Model.FermetureAM"> - <input type="time" id="oPM" value="@Model.OuverturePM"> à <input type="time" id="fPM" value="@Model.FermeturePM">
        </p>
            
        <p>
            Sauf le
            <select id="jour_exeptionnel">
                @switch (Model.JourFermeture_exceptionnelle)
                {
                    case "Mardi":
                        <option>Lundi</option>
                        <option selected="selected">Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Mercredi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option selected="selected">Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Jeudi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option selected="selected">Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Vendredi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option selected="selected">Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Samedi":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option selected="selected">Samedi</option>
                        <option>Dimanche</option>
                        break;
                    case "Dimanche":
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option selected="selected">Dimanche</option>
                        break;
                    default:
                        <option selected="selected">Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                        break;
                }

            </select><br />
            de <input type="time" id="feAM" value="@Model.Fermeture_exceptionnelleAM"> à <input type="time" id="fePM" value="@Model.Fermeture_exceptionnellePM"><br />
            (<input type="text" id="feDesc" placeholder="Description" value="@Model.Fermeture_exceptionnelleSpecification">)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Coordonnées</h2>
        <p><input type="text" id="rue" value="@Model.Rue" placeholder="Rue/Voie" /> - <input type="text" id="code_postal" value="@Model.Code_Postal" placeholder="Code postal" /></p>
        <p><input type="text" id="ville" value="@Model.Ville" placeholder="Ville" /></p>
    </div>
    <div class="col-md-8">
        <h2>Contact(s)</h2>
        <table id="contacts" style="max-height: 200px;overflow-y: auto;display: block;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>e-Mail</th>
                    <th>Téléphone</th>
                </tr>
            </thead>
            <tbody id="contact_content">
                @for (var i = 0; i < Model.Contacts.Count; i++)
                {
                    <tr id="@("contact_" + i)">
                        <td><input class="name" type="text" value="@Model.Contacts[i].Nom" placeholder="Nom" /></td>
                        <td><input class="mail" type="text" value="@Model.Contacts[i].Mail" placeholder="Mail" /></td>
                        <td><input class="tel" type="text" value="@Model.Contacts[i].Telephone" placeholder="Téléphone" /></td>
                        <td><input id="@("btn_supp_contact_" + i)" type="button" class="btn btn-danger" value="Supprimer" /></td>
                    </tr>
                }
                <tr id="last_contact"></tr>
            </tbody>
        </table>
        <input id="add_contact" type="button" class="btn btn-default" value="+ Ajouter" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Compétences</h2>
        <p>Materiel</p>
        <ul class="checkbox">
            <li>
                @if (Model.Porteur)
                    {
                    <input type="checkbox" id="porteur" checked/>
                }
                else
                        {
                    <input type="checkbox" id="porteur" />
                }
                        Porteur
                    </li>
        

                    <li>
                        @if (Model.Semis_Remorque)
                {
                    <input type="checkbox" id="semis" checked/>
                }
                else
                            {
                    <input type="checkbox" id="semis" />
                }

                            Semi-remorque
                        </li>
            

                        <li>
                            @if (Model.Vul)
                {
                    <input type="checkbox" id="vul" checked/>
                }
                else
                                {
                    <input type="checkbox" id="vul" />
                }

                                Vul
                            </li>
                

                            <li>
                                @if (Model.Haillon)
                {
                    <input type="checkbox" id="haillon" checked/>
                }
                else
                                    {
                    <input type="checkbox" id="haillon" />
                }

                                    Hayon
                                </li>
                    

                                <li>
                                    @if (Model.Tire_Palette)
                {
                    <input type="checkbox" id="tire_pal" checked/>
                }
                else
                                        {
                    <input type="checkbox" id="tire_pal" />
                }

                                        Tire-palette
                                    </li>
                        

                                </ul>
                        

                                <p>Remorques</p>
                        

                                <ul class="checkbox">
            <li>
                @if (Model.Remorque_Tautliner)
                    {
                    <input type="checkbox" id="tautliner" checked/>
                }
                else
                        {
                    <input type="checkbox" id="tautliner" />
                }
                        Tautliner
                    </li>
        
                    <li>
                        @if (Model.Remorque_Fourgon)
                {
                    <input type="checkbox" id="fourgon" checked/>
                }
                else
                            {
                    <input type="checkbox" id="fourgon" />
                }
                            Fourgon
                        </li>
            
                        <li>
                            @if (Model.Remorque_Frigorifique)
                {
                    <input type="checkbox" id="frigo" checked/>
                }
                else
                                {
                    <input type="checkbox" id="frigo" />
                }
                                Frigorifique
                            </li>
                
                        </ul>
                
                    </div>
                
                    <div class="col-md-8">
        <h2>Commentaire(s)</h2>
        <input type="text" value="@Model.Commentaire" id="commentaire" />
        <input type="button" class="btn btn-primary" id="addEntreprise" value="Enregistrer" onclick="validation()" />
    </div>
</div>

<script>
    var zn_contact = document.getElementById("contact_content");
    var btn_add_contact = document.getElementById("add_contact");

    var count_contacts = @Model.Contacts.Count +1;

    btn_add_contact.addEventListener("click", function () {
        document.getElementById("last_contact").outerHTML =
            '<tr id="contact_' + count_contacts + '">\
                <td><input class="name" type="text" placeholder="Nom" /></td>\
                <td><input class="mail" type="text" placeholder="Mail" /></td>\
                <td><input class="tel" type="text" placeholder="Téléphone" /></td>\
                <td><input id="btn_supp_contact_' + count_contacts + '" type="button" class="btn btn-danger" value="Supprimer" /></td>\
            </tr>\
            <div id="last_contact"></div>' ;

        document.getElementById("btn_supp_contact_" + count_contacts).addEventListener("click", function (e) {
                        document.getElementById("contact_" + e.toElement.id.substring(17)).outerHTML = "";
                        console.log("suppression : " + "contact_" + e.toElement.id.substring(17));
                    });

        count_contacts++;
    });

</script>
